:root {
  --bg-app: #f4f6f8;
  --bg-card: #f7f9fb;
  --bg-sidebar: #f7f9fb;

  --border-soft: #e2e8f0;
  --border-strong: #cbd5e1;

  --text-main: #0f172a;
  --text-muted: #64748b;

  --primary: #0057b8;

  --radius: 14px;
  --shadow-soft: 0 2px 6px rgba(0, 0, 0, 0.06);
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", sans-serif;
  background: var(--bg-app);
  color: var(--text-main);
}
